body {
  margin: 0;
  color: #fff;
  /* font-family: 'CenturySchoolbookBT-Bold', arial, sans; */
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: rgb(88, 30, 29);
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: rgb(116, 198, 184);
}

h1 {
  font-family: 'CenturySchoolbookBT-Bold', serif;
  font-weight: 100;
}

h2 {
  font-family: 'CenturySchoolbookBT-Bold', serif;
  font-size: 28px;
  line-height: normal;
  margin: 4px 0;
  color: rgb(255, 184, 20);
  font-weight: 100;
}

h3 {
  font-family: 'CenturySchoolbookBT-Bold', serif;
  font-size: 20px;
  line-height: normal;
  margin: 4px 0;
  color: rgb(255, 184, 20);
  font-weight: 100;
}

h4 {
  font-weight: bold;
}

#header {
  width: 940px;
  height: 90px;
  margin: 0 auto;
}

#logo {
  float: left;
}

#logo img {
  width: 220px;
  margin-top: 10px;
}

#nav {
  float: right;
  text-align: right;
}

#nav a:hover {
  color: #fff;
}

#middle {
  background-color: rgb(0, 144, 144);
  background-image: url('../img/background.jpg');
  background-size: 100% 100%;
  padding: 20px;
}

#content {
  width: 940px;
  margin: 0 auto;
}

#footer {
  width: 940px;
  margin: 10px auto;
}

#hero {
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 3px rgb(0, 144, 144) solid;
  background-repeat: no-repeat;
}

#hero h1 {
  line-height: 68px;
  font-size: 58px;
  margin: 0;
  color: rgb(255, 184, 20);
}

#hero span {
  font-size: 78px;
  color: #fff;
}

.herohome {
  background-image: url('../img/connection_icon.png');
  background-position: 540px 1px;
  background-size: 19.1%;
}

.herohealth {
  background-image: url('../img/health_icon.png');
  background-position: 300px 0;
  background-size: 10%;
}


#mission {
  float: left;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 20px;
}

#profiles {
  float: left;
  border-left: 3px rgb(0, 144, 144) solid;
  padding: 20px 20px 0 20px;
}

#profiles h2 {
  padding-left: 12px;
}

#bobProfile {
  display: none;
}

#insuranceInfo {
  float: left;
  font-size: 18px;
  line-height: normal;
}

#companies {
  float: left;
}

#companies h2 {
  margin-bottom: 20px;
}

#about {
  font-weight: 300;
  line-height: 18px;
}

#bottom {
  padding-bottom: 10px;
}

#contact {
  font-weight: 300;
}

#twitterWidget {
  display: none;
}

.navlink {
  text-align: center;
  height: 52px;
  display: inline-block;
  padding: 38px 12px 0px 12px;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
}

.navlink:hover {
  background-color: rgb(110, 40, 40);
}

.selectednav {
  background-color: rgb(116, 198, 184);
}

.selectednav:hover {
  background-color: rgb(116, 198, 184);
}

.contactinfo {
  margin-top: 10px;
}

.contactinfo .icon {
  width: 32px;
  font-size: 24px;
  line-height: 28px;
}

.contactinfo:hover a {
  color: rgb(116, 198, 184);
}

.emails {
  float: left;
  width: 200px;
}

.emails a:first-child {
  font-weight: bold;
}

.profile {
  background-color: rgb(0, 144, 144);
  padding: 8px;
  margin-bottom: 20px;
}

.profile .icon {
  font-size: 24px;
  padding: 3px 5px 0 0;
}

.profile img {
  float: right;
  margin: 0 0 0 10px;
  width: 91px !important;
}

.profileToggle {
  cursor: pointer;
  padding-left: 5px;
}

.profile-info {
  border-top: 1px solid #fff;
  padding: 10px 5px 5px 5px;
  line-height: 18px;
  font-weight: 300;
}

.tweet .profile {
  background-color: transparent;
  padding: 4px 0;
  border-bottom: 1px solid #fff;
}

.tweet .tco-hidden {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

.tweet .e-entry-title a {
  border-bottom: 0;
  padding: 0;
}

.tweet p {
  margin: 12px 0;
}

.tweet abbr {
  border: 0;
}

.company {
  float: left;
  text-align: right;
  margin-bottom: 14px;
  margin-right: 3%;
  width: 31%;
}

.company:nth-child(3n+1) {
  margin-right: 0;
}

.company img {
  display: block;
}

.smalltext {
  line-height: 1px;
  font-size: 1px;
}

.notext {
  line-height: 0px;
  font-size: 0px;
}

.screenreadertext {
  position: absolute;
  left: -9999px;
  line-height: 12px;
}

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.shadow {
  -webkit-box-shadow: #000 3px 3px 3px;
  -moz-box-shadow: #000 3px 3px 3px;
  box-shadow: #000 3px 3px 3px;
}

.borderbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}
