<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Austin, Worthington &amp; Associates {% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Kyle Paulsen">

  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="css/MyFontsWebfontsKit.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/site-icons.css">
  <!--<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>-->

  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="js/tweetExtractor.js"></script>
  <script type="text/javascript" src="js/picoModal.js"></script>
  <script type="text/javascript" src="js/all.js"></script>
</head>
<body>
  <div id="top">
    <div id="header">
      <div id="logo" class="smalltext">
        <a href="/"><img src="img/logo.png" alt="Austin, Worthington &amp; Associates"></a>
        <span class="screenreadertext"><h1>Austin, Worthington &amp; Associates</h1></span>
      </div>
      <div id="nav" class="notext">
        {% for navlink in site.nav %}
          {% if page.tab == navlink.text %}
            {% assign current = " selectednav" %}
          {% else %}
            {% assign current = "" %}
          {% endif %}
          <a href="{{navlink.link}}" class="navlink{{current}}">{{navlink.text}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="middle">
    <div id="content">
      {{ content }}
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="bottom">
    <div id="footer">
      <div class="row">
        <div id="about" class="left col4">
          <h3>About Us</h3>
          <div>
            Bob Austin and Holly Worthington started Austin-Worthington and
            Associates in 1994. Bob and Holly met at another brokerage firm:
            Pacific Rim Financial Services. After a couple of years they realized
            that they could do a better service to their clients by leaving
            Pacific Rim and building a business partnership together.
          </div>
          <div class="socialIcon">
            <span class="icon"><a href="https://www.facebook.com/AustinWorthingtonandAssoc" target="_blank">f</a></span> 
            <span class="icon"><a href="https://twitter.com/AWandAssoc" target="_blank">t</a></span>
          </div>
        </div>
        <div id="contact" class="left col4">
          <h3>Contact Info</h3>
          <div class="contactinfo">
            <div class="left icon"><a href="mailto:bob@austin-worthington.com">b</a></div>
            <div class="emails">
              <a href="mailto:bob@austin-worthington.com">Bob Austin</a><br>
              <a href="mailto:bob@austin-worthington.com">bob@austin-worthington.com</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="contactinfo">
            <div class="left icon"><a href="mailto:holly@austin-worthington.com">b</a></div>
            <div class="emails">
              <a href="mailto:holly@austin-worthington.com">Holly Worthington</a><br>
              <a href="mailto:holly@austin-worthington.com">holly@austin-worthington.com</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="contactinfo">
            <div class="left icon"><a href="https://maps.google.com/maps?cid=2025394170479579421">a</a></div>
            <div class="address">
              <a href="https://maps.google.com/maps?cid=2025394170479579421" target="_blank">11501 SW Pacific Hwy<br>
              Suite 100, Portland OR 97223</a>
            </div>
            <div class="clearfix"></div>
          </div>
           <div class="contactinfo">
            <div class="left icon">p</div>
            <div class="phone">
              (503)245-3231
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div id="blog" class="left col4">
          <div id="twitterWidget">
            <a class="twitter-timeline" href="https://twitter.com/AWandAssoc" data-widget-id="362048219888381952">Tweets by @AWandAssoc</a>
            <script type="text/javascript" src="js/twitterWidget.js"></script>
          </div>
          <h3>Recent Tweets</h3>
          <div id="tweets"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43657137-1', 'austin-worthington.com');
  ga('send', 'pageview');
  </script>
</body>
</html>
