<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Austin, Worthington &amp; Associates {% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Kyle Paulsen">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/site-icons.css">
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>

  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
  <div id="top">
    <div id="header">
      <div id="logo" class="smalltext">
        <img src="img/logo.png" alt="Austin, Worthington &amp; Associates">
        <span class="screenreadertext"><h1>Austin, Worthington &amp; Associates</h1></span>
      </div>
      <div id="nav" class="notext">
        {% for navlink in site.nav %}
          {% if page.tab == navlink.text %}
            {% assign current = " selectednav" %}
          {% else %}
            {% assign current = "" %}
          {% endif %}
          <a href="{{navlink.link}}" class="navlink{{current}}">{{navlink.text}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="middle">
    <div id="content">
      {{ content }}
    </div>
  </div>
  <div id="bottom">
    <div id="footer">
      <div id="about" class="left">
        <h2>About Us</h2>
        <div>
          Bob Austin and Holly Worthington started Austin-Worthington and
          Associates in 1994. Bob and Holly met at another brokerage firm:
          Pacific Rim Financial Services. After a couple of years they realized
          that they could do a better service to their clients by leaving
          Pacific Rim and building a business partnership together.
        </div>
      </div>
      <div id="contact" class="left">
        <h2>Contact Info</h2>
        <div class="contactinfo">
          <div class="left icon"><a href="mailto:bob@austin-worthington.com">&#xe000;</a></div>
          <div class="emails">
            <a href="mailto:bob@austin-worthington.com">Bob Austin</a><br>
            <a href="mailto:bob@austin-worthington.com">bob@austin-worthington.com</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="contactinfo">
          <div class="left icon"><a href="mailto:holly@austin-worthington.com">&#xe000;</a></div>
          <div class="emails">
            <a href="mailto:holly@austin-worthington.com">Holly Worthington</a><br>
            <a href="mailto:holly@austin-worthington.com">holly@austin-worthington.com</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="contactinfo">
          <div class="left icon"><a href="https://maps.google.com/maps?q=Austin+Worthington+%26+Associates,+Southwest+Pacific+Highway,+Tigard,+OR&hl=en&ll=45.441886,-122.747755&spn=0.060161,0.104628&sll=45.543408,-122.654422&sspn=0.480422,0.837021&oq=austin+worthington+&hq=Austin+Worthington+%26+Associates,&hnear=SW+Pacific+Hwy,+Tigard,+Oregon&t=m&z=14&iwloc=A">&#xe001;</a></div>
          <div class="address">
            <a href="https://maps.google.com/maps?q=Austin+Worthington+%26+Associates,+Southwest+Pacific+Highway,+Tigard,+OR&hl=en&ll=45.441886,-122.747755&spn=0.060161,0.104628&sll=45.543408,-122.654422&sspn=0.480422,0.837021&oq=austin+worthington+&hq=Austin+Worthington+%26+Associates,&hnear=SW+Pacific+Hwy,+Tigard,+Oregon&t=m&z=14&iwloc=A">11501 SW Pacific Hwy<br>
            Suite 100, Portland OR 97223</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div id="blog" class="left">
        <h2>Recent Blog Posts</h2>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</body>
</html>
