<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Austin, Worthington &amp; Associates {% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Kyle Paulsen">

  <link rel="stylesheet" href="css/style.css" />
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>

  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
  <div id="top">
    <div id="header">
      <div id="logo" class="smalltext">
        <img src="img/logo.png" alt="Austin, Worthington &amp; Associates">
      </div>
      <div id="nav" class="notext">
        {% for navlink in site.nav %}
          {% if page.tab == navlink.text %}
            {% assign current = " selectednav" %}
          {% else %}
            {% assign current = "" %}
          {% endif %}
          <a href="{{navlink.link}}" class="navlink{{current}}">{{navlink.text}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {{ content }}
</body>
</html>
